# Tells git to detect all text files and automatically normalize them
# Automatic normalization will be enforced only when an unspecified file (file-extensions are specified below) is read from or written into repository
* text=auto

# These files are text and should be normalized
*.js text
*.min.js text
*.json text
*.html text
*.htm text
*.css text
*.md text
