/* baseline */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #a6afb2;
}
.content {
    background-color: #ffffff;
    margin: 0 auto;
    width: 1000px;
    overflow: auto;
}

/* font weights */
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.normal {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.ultra-bold {
    font-weight: 900;
}

/* helpers */
.c {
    clear: both;
    height: 0;
    overflow:hidden;
}
.fl {
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.hidden {
    display: none;
}
.col-5 {
    width: 20%;
    float: left
}
.col-7 {
    width: 70%;
    float: left
}
.col-3 {
    width: 30%;
    float: left;
}
/* content */
.logo {
    display: block;
    margin: 80px auto;
}
h1 {
    font-size: 21px;
    color: #4d4d4d;
    font-weight: 400;
    text-align: center;
}
.terminal {
    width: 450px;
    height: 70px;
    color: #dddddd;
    font-size: 21px;
    margin: 30px auto;
    padding: 20px;
    background-color: #2c3233;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.button {
    display: block;
    margin: 60px auto 40px auto;
    padding: 20px;
    text-decoration: none;
    height: 70px;
    width: 265px;
    text-align: center;
    color: #2c3233;
    font-size: 21px;
    background-color: #ffffff;
    border: 1px solid #2c3233;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.button:hover {
    border: 2px solid #2c3233;
    padding: 19px;
}
.down-arrow {
    background: url('../images/down-arrow.png');
    display: block;
    width: 19px;
    height: 12px;
    margin: 30px auto 40px auto;
}
#method-list {
    background-color: #2c3233;
    padding: 30px 30px 40px 60px;
    color: #ffffff;
    overflow: auto;
}
#method-list h2 {
    font-size: 18px;
    font-weight: 700;
    color: #f2f2f2;
}
#method-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#method-list ul li{
    line-height: 1.4;
}
#method-list ul li a {
    text-decoration: none;
    color: #a6afb2;
    font-size: 16px;
    font-weight: 300;
}
#method-list ul li a:hover {
    text-decoration: underline;
}
.documentation {
    overflow: auto;
    padding-left: 40px;
}
.documentation .method {
    margin-top: 50px;
}
.documentation .method span {
    font-size: 14px;
    line-height: 40px;
    float: right;
}
.documentation h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f33e3e;
    margin: 50px 0 0 0;
}
.documentation h3 {
    font-size: 24px;
    font-weight: 700;
    color: #2c3233;
    margin: 0;
    display: inline-block;
}
.documentation p {
    margin-bottom: 25px;
}
.documentation pre {
    font-size: 14px;
    border-left: 1px solid #a6afb2;
    background-color: #f2f2f2;
    padding: 10px 20px 0 20px;
}
ul.side-navigation {
    list-style: none;
    padding: 60px 60px 60px 90px;
    margin: 0px;
}
ul.side-navigation li{
    line-height: 2;
}
ul.side-navigation li a {
    text-decoration: none;
    color: #a6afb2;
    font-size: 18px;
    font-weight: 300;
}
ul.side-navigation li a:hover {
    text-decoration: underline;
    color: #33302c;
}
.fixed {
    position: fixed;
    top: 0;
}
